.mod-cta
  .inner
    h1 Pre-registration has opened!
    markdown:
      We are working very hard to get the show on the road. Part of this is trying to keep ticket prices
      as low as we can keep them by getting [Sponsors](/sponsors) and volunteers.

      It's going to be super awesome. We are so excited, and we hope you are too! From your reactions so far
      we really feel the love and warmth of a huge group of people who want to LEARN. TO. CODE! Yeah!

      We fear we can't take all of you in, which is why we decided to start a list. Leave your details below
      to add yourself to the list and we will keep you posted and you will have a bigger chance on getting
      in!

    p
      = link_to 'Reserve a seat', '#subscribe', class: 'button'
      = link_to 'Check program', program_path, class: 'button secondary'