- title "Program"
- meta_description "Check out the program of our week long full time bootcamp to get you to the point where you can start programming on your own."
- meta_keywords "program, agenda, calendar, schedule, development, bootcamp, programming, learn, teach, sponsor"

= render 'coming_soon'
