- title "Terms and Conditions"
- meta_description "A week long full time bootcamp to get you to the point where you can start programming on your own. Zero to developer in three sessions of a week."
- meta_keywords "terms, conditions, development, bootcamp, programming, learn, teach, sponsor"

- cache 'terms-and-conditions-page' do
  .mod-text
    .inner
      h1 Terms and Conditions

      h3 See also:
      ul
        li = link_to 'English version', '#english'
        li = link_to 'Cancellation Policy', '/cancellation-policy'

      markdown:
        CODAISSEUR B.V.
        VERSIE: 26 januari 2015

        ## Algemene Voorwaarden Consumenten


        ### ARTIKEL 1 - DEFINITIES
          - a)    Onderwijs: Onderwijs, opleiding, cursus en/of training, waaronder contactonderwijs.
          - b)   Contactonderwijs: Vorm van onderwijs met directe interactie tussen docent of  trainer en student of cursist
          - c)    EVC: Eerder verworven competenties, opgedaan tijdens eerdere werkervaring of gevolgde opleidingen. EVC’s worden via assessments bepaald en kunnen leiden tot verkorte (versnelde) opleidingstrajecten.
          - d)   Educatieve dienst: Het geven van onderwijs en de levering van lesmateriaal en/of een EVC-traject en/of een andere vorm van beoordeling.
          - e)    Overeenkomst: Een overeenkomst, zoals bedoeld in artikel 2 lid 1.
          - f)     Overeenkomst op afstand: Een overeenkomst die tussen CODAISSEUR B.V. en de consument wordt gesloten in het kader van een georganiseerd systeem voor verkoop op afstand van producten, digitale inhoud en/of diensten, waarbij tot en met het sluiten van de overeenkomst uitsluitend gebruik wordt gemaakt van één of meer technieken voor communicatie op afstand.
          - g)    Consument: Natuurlijke persoon die niet handelt in de uitoefening van een beroep of bedrijf en die een educatieve dienst van CODAISSEUR B.V. afneemt.
         
        ### ARTIKEL 2 - TOEPASSELIJKHEID
        Deze Algemene Voorwaarden zijn van toepassing op alle overeenkomsten tussen CODAISSEUR B.V. en de consument met betrekking tot een educatieve dienst
         
        ### ARTIKEL 3 - AANBOD
          1.      CODAISSEUR B.V. brengt het aanbod (bij voorkeur) schriftelijk dan wel elektronisch uit.
          2.      Het aanbod bevat een volledige en nauwkeurige omschrijving van de educatieve dienst en/of van het lesmateriaal dat onderdeel uitmaakt van de educatieve dienst. Het aanbod geeft tevens aan of gebruik van dit lesmateriaal verplicht is.
          3.      Elk aanbod dient zodanige informatie te bevatten dat voor de consument duidelijk is wat de rechten en verplichtingen zijn die aan de aanvaarding van het aanbod zijn verbonden. Het aanbod vermeldt in ieder geval op duidelijke en begrijpelijke wijze de volgende gegevens:
            - de wijze van aflevering of uitvoering van de overeenkomst;
            - de periode waarin de educatieve dienst plaatsheeft;
            - de voorwaarden waaronder de educatieve dienst eventueel niet doorgaat;
            - voor zover van toepassing: de toelatingseisen om aan het onderwijs deel te mogen nemen;
            - de prijs met inbegrip van alle bijkomende kosten en belastingen;
            - de wijze van betaling;
            - de duur van de overeenkomst
          4.      Deze algemene voorwaarden worden voorafgaand aan de overeenkomst nadrukkelijk bekend gemaakt aan de consument en maken integraal deel uit van de algemene informatievoorziening van CODAISSEUR B.V.
          5.      CODAISSEUR B.V. mag aan het uitbrengen van een aanbod en/of de aanvaarding van een opdracht de voorwaarde verbinden dat de consument zijn persoonsgegevens verstrekt.
          6.      Onverminderd het bepaalde in lid 1 tot en met 5 omvat het aanbod bij een overeenkomst op afstand bovendien de volgende gegevens:
            - a.      de identiteit en het adres van CODAISSEUR B.V., inclusief het bezoekadres van de vestiging van CODAISSEUR B.V.;
            - b.      het recht van de consument de overeenkomst binnen veertien dagen te ontbinden overeenkomstig artikel 6 lid 2 en 3;
            - c.       de geldigheidsduur van het aanbod.
         
        ### ARTIKEL 4 - OVEREENKOMST
          1.      De overeenkomst komt tot stand door aanvaarding van het aanbod door de consument. Na de totstandkoming van de overeenkomst ontvangt de consument hiervan schriftelijk of langs elektronische weg een bevestiging.
          2.      In geval van elektronische opdrachtverlening stuurt CODAISSEUR B.V. een elektronische bevestiging naar de consument; zolang de ontvangst van een elektronisch aanvaarde opdracht niet is bevestigd door CODAISSEUR B.V. kan de consument de opdracht annuleren.
          3.      Nadat een overeenkomst op afstand tot stand is gekomen, worden de in artikel 3 lid 3 en lid 6 bedoelde gegevens schriftelijk of op een andere, aan de consument ter beschikking staande en voor hem toegankelijke duurzame gegevensdrager, verstrekt.
         
        ### ARTIKEL 5 - WIJZIGINGEN
          1.      Indien er sprake is van een overeenkomst inzake contactonderwijs met een vastgelegde startdatum geldt de volgende wijzigingsregeling voor de consument en CODAISSEUR B.V.:
            - a.      Wijzigingen door de consument voordat het contactonderwijs is begonnen, geschiedt door middel van een email aan <support@developmentbootcamp.nl>;
            - b.      Wijzigingen door CODAISSEUR B.V. voordat het contactonderwijs is begonnen geschied door middel van een email aan het door de consument opgegeven emailadres.
            - c.      De consument kan tot maximaal twee keer de vastgestelde startdatum wijzigen naar een daaropvolgende startdatum. Wijziging van de startdatum na aanvang  van het contactonderwijs is niet mogelijk
          2.      CODAISSEUR B.V. kan voor aanvang van het contactonderwijs de locatie wijzigen zonder dat hiervoor kosten in mindering worden gebracht, met dien verstande dat de nieuwe locatie op redelijke afstand van de eerdere locatie gelegen dient te zijn.[1]  Een gewijzigde locatie binnen dezelfde stad is in ieder geval niet onredelijk.
         
        ### ARTIKEL 6 - ANNULERING DOOR CONSUMENT
        Indien er sprake is van een overeenkomst inzake contactonderwijs met een vastgelegde startdatum geldt, na afloop van de eventuele bedenktijd overeenkomstig Artikel 7, de volgende annuleringsregeling voor de consument:

          - a.      annulering voordat het contactonderwijs is begonnen, geschiedt door middel van een email aan <support@developmentbootcamp.nl>;
          - b.      bij annulering tot twee maanden voor aanvang van het contactonderwijs is de consument 10 % van de overeengekomen prijs verschuldigd met een minimum van € 50,-;
          - c.       bij annulering tussen twee maanden en één maand voor aanvang van het contactonderwijs is de consument 50% van de overeengekomen prijs verschuldigd met een minimum van € 50,-;
          - d.      bij annulering korter dan één maand voor aanvang van het contactonderwijs is de consument 75% van de overeengekomen prijs verschuldigd met een minimum van € 50,-;
          - e.      bij annulering minder dan twee weken voor aanvang van het contactonderwijs is de consument de volledige, overeengekomen prijs verschuldigd.
         
        ### ARTIKEL 7 - BEËINDIGING VAN DE OVEREENKOMST DOOR CONSUMENT
          1.      De consument kan een voor bepaalde tijd gesloten overeenkomst te allen tijde opzeggen. Tussentijdse beëindiging leidt niet tot restitutie van de door de consument verschuldigde prijs of het vervallen van de betaalplicht daarvan, overeenkomstig de annuleringsregeling in Artikel 6.
          2.      Gedurende veertien dagen na het sluiten van een overeenkomst op afstand met betrekking tot een educatieve dienst heeft de consument het recht de overeenkomst zonder opgave van redenen te ontbinden. Indien CODAISSEUR B.V. niet alle gegevens heeft verstrekt, zoals bedoeld in artikel 3 lid 6, dan bedraagt deze termijn veertien dagen na het alsnog verstrekken ervan tot een maximum van twaalf maanden na het sluiten van de overeenkomst.
          3.      De consument heeft in geval van ontbinding overeenkomstig lid 2 recht op kosteloze terugbetaling van wat hij al heeft betaald. CODAISSEUR B.V. betaalt zo spoedig mogelijk en in ieder geval binnen dertig dagen na de ontbinding terug.
          4.      Indien de consument een beroep doet op de ontbindingsmogelijkheid uit lid 2 wordt, zonder dat de consument een boete is verschuldigd, een eventuele aanvullende overeenkomst van geldlening als betalingsregeling van CODAISSEUR B.V. aan de consument van rechtswege ontbonden.
          5.      Geen recht op ontbinding overeenkomstig lid 2 bestaat, als het onderwijs door CODAISSEUR B.V. met instemming van de consument is begonnen, voordat de termijn van veertien dagen is verstreken. Onder aanvang van het onderwijs wordt mede verstaan het verschaffen van toegang tot lesmateriaal dat op elektronische wijze wordt aangeboden.
         
        ### ARTIKEL 8 - BEËINDIGING VAN DE OVEREENKOMST DOOR CODAISSEUR B.V.
          1.     CODAISSEUR B.V. kan een voor bepaalde tijd gesloten overeenkomst te allen tijde opzeggen. Tussentijdse beëindiging leidt tot restitutie van de door de consument verschuldigde prijs of het vervallen van de betaalplicht daarvan. Beëindiging van de overeenkomst kan onder andere geschieden wegens onvoldoende inschrijvingen voor het betreffende contactonderwijs.
          2.     De consument heeft in geval van ontbinding overeenkomstig lid 1 recht op kosteloze terugbetaling van wat hij al heeft betaald. CODAISSEUR B.V. betaalt zo spoedig mogelijk en in ieder geval binnen dertig dagen na de ontbinding terug.
         
        ### ARTIKEL 9 - PRIJSWIJZIGINGEN
          1.      Als binnen drie maanden na het sluiten van de overeenkomst maar nog vóór aanvang van de educatieve dienst een prijswijziging optreedt, zal deze geen invloed hebben op de overeengekomen prijs.
          2.      De consument heeft recht op ontbinding van de overeenkomst als ná drie maanden na het sluiten van de overeenkomst, maar nog vóór aanvang van de educatieve dienst de prijs wordt verhoogd.
          3.      3. Lid 1 en 2 zijn niet van toepassing op prijswijzigingen die uit de wet voortvloeien.
         
        ### ARTIKEL 10 - LEVERING
          1.       Lesmateriaal
            - a.      CODAISSEUR B.V. levert het lesmateriaal tijdig aan de consument. Onder tijdige levering wordt mede verstaan het tijdig verschaffen van toegang tot lesmateriaal dat op elektronische wijze wordt aangeboden.
            - b.      Verkeerd of beschadigd lesmateriaal wordt onmiddellijk door CODAISSEUR B.V.  vervangen.
          2. Correctiewerk
            - a.       De consument wordt geïnformeerd over de termijn waarbinnen ingezonden  opdrachten of toetsen worden gecorrigeerd.
            - b.      Het tijdstip van het terugontvangen van correcties moet in redelijke verhouding staan tot het tijdstip van aanvang van het vervolg van het onderwijs respectievelijk van een eventuele herkansing.
         
        ### ARTIKEL 11 - CONFORMITEIT
          1.       De educatieve dienst moet beantwoorden aan de overeenkomst en op deskundige wijze en met gebruikmaking van deugdelijke faciliteiten worden uitgevoerd.
          2.      Het geleverde lesmateriaal moet beantwoorden aan de overeenkomst en die eigenschappen bezitten die, alle omstandigheden in aanmerking genomen, voor een normaal gebruik nodig zijn, alsmede voor een bijzonder gebruik voor zover dat is overeengekomen.
         
        ### ARTIKEL 12 - BETALING
          1.      Betaling vindt plaats in contanten, tenzij anders is overeengekomen. Contante betaling omvat ook bijschrijving van het verschuldigde bedrag op een door CODAISSEUR B.V. aangegeven bank- of girorekening op het tijdstip van de koop of levering of betaling door middel van door banken erkende vormen van elektronisch betalen.
          2.      Als betaling in termijnen is overeengekomen, moet de consument – met inachtneming van het bepaalde in lid 3 – betalen volgens de termijnen en de percentages, zoals deze in de overeenkomst zijn vastgesteld.
          3.      Betaling van de educatieve dienst vindt plaats vóór het moment dat de opleiding van start gaat. CODAISSEUR B.V. mag van de consument verlangen dat het volledige bedrag uiterlijk 8 weken vóór de dag van aanvang van de educatieve dienst is voldaan.
         
        ### ARTIKEL 13 - NIET-TIJDIGE BETALING
          1.      De consument is in verzuim vanaf het verstrijken van de betalingsdatum. CODAISSEUR B.V. zendt na het verstrijken van die datum een betalingsherinnering en geeft de consument de gelegenheid binnen 10 werkdagen, na ontvangst van deze betalingsherinnering alsnog te betalen.
          2.    Indien de consument niet tijdig aan zijn betalingsverplichting(en) voldoet, is deze, nadat hij door CODAISSEUR B.V. is gewezen op de te late betaling en CODAISSEUR B.V. de consument een termijn van 10 werkdagen heeft gegund om alsnog aan zijn betalingsverplichtingen te voldoen, na het verstrijken van deze 10-werkdagen- termijn over het nog verschuldigde bedrag de wettelijke rente verschuldigd en is CODAISSEUR B.V. gerechtigd de door hem gemaakte buitengerechtelijke incassokosten in rekening te brengen. Deze incassokosten bedragen maximaal: 15% over openstaande bedragen tot € 2.500,-; 10% over de daaropvolgende € 2.500,- en 5% over de volgende € 5.000,- met een minimum van € 40,-. CODAISSEUR B.V. kan ten voordele van de consument afwijken van genoemde bedragen en percentages.
         
        ### ARTIKEL 14 - NIET-NAKOMING VAN DE OVEREENKOMST
          1.      Als één van de partijen een verplichting uit de overeenkomst niet nakomt, mag de wederpartij de nakoming van de daartegenover staande verplichting opschorten. Bij gedeeltelijke of niet-behoorlijke nakoming is opschorting slechts toegestaan, voor zover de tekortkoming dat rechtvaardigt.
          2.      CODAISSEUR B.V. heeft het recht van terughouding (recht van retentie) als de consument tekortschiet in de voldoening van een opeisbare verplichting, tenzij de tekortkoming deze terughouding niet rechtvaardigt.
          3.      Als één van de partijen de overeenkomst niet nakomt, is de wederpartij bevoegd de overeenkomst te ontbinden, tenzij de tekortkoming gezien haar geringe betekenis de ontbinding niet rechtvaardigt.
         
        ### ARTIKEL 15 - AANSPRAKELIJKHEID VAN CODAISSEUR B.V.
          1.       Voor zover CODAISSEUR B.V. toerekenbaar tekortschiet en de consument daardoor schade lijdt, is de aansprakelijkheid van CODAISSEUR B.V. voor schade die niet het gevolg is van letsel-, dood- of zaakschade, beperkt tot vergoeding van directe schade.
          2.      De aansprakelijkheid van CODAISSEUR B.V. voor letsel-, dood- of zaakschade wordt niet uitgesloten of beperkt.
          3.      De in lid 1 en 2 bedoelde aansprakelijkheid strekt zich uit tot personen in dienst van CODAISSEUR B.V., dan wel aan personen die door hem zijn aangesteld voor de uitvoering van de overeenkomst.
         
        ### ARTIKEL 16 - VERTROUWELIJKHEID
        Door consumenten verstrekte informatie wordt door CODAISSEUR B.V., diens personeel en/of voor hem werkzame personen vertrouwelijk behandeld. CODAISSEUR B.V. conformeert zich aan de geldende privacywetgeving.
         
        ### ARTIKEL 17 - VRAGEN EN KLACHTEN
          1.      Vragen van administratieve aard en vragen over de inhoud van de educatieve dienst kunnen gesteld worden via een email aan <support@developmentbootcamp.nl>. Vragen worden door CODAISSEUR B.V. beantwoord binnen een termijn van 10 werkdagen, gerekend vanaf de datum van ontvangst. Vragen die een voorzienbaar langere verwerkingstijd vragen, worden door CODAISSEUR B.V. per omgaande beantwoord met een bericht van ontvangst en een indicatie, wanneer men een meer uitvoerig antwoord kan verwachten.
          2.      Klachten over de uitvoering van de overeenkomst kunnen gedaan worden via een email aan <support@developmentbootcamp.nl>. Klachten moeten tijdig, volledig en duidelijk omschreven worden ingediend bij CODAISSEUR B.V., nadat de consument de gebreken heeft geconstateerd of heeft kunnen constateren. Klagen binnen twee maanden is in elk geval tijdig. Niet tijdig indienen van de klacht kan tot gevolg hebben dat de consument zijn of haar rechten terzake verliest.
          3.    Indien de klacht niet in onderling overleg kan worden opgelost ontstaat een geschil dat kan worden voorgelegd aan de bevoegde rechter te Amsterdam.
         
        ### ARTIKEL 18 - TOEPASSELIJK RECHT
        De overeenkomst wordt beheerst door Nederlands recht, tenzij op grond van dwingend recht het recht van een ander land van toepassing is.


      h2#english Terms and Conditions (English)

      p Coming soon.
