- title "Terms and Conditions"
- meta_description "A week long full time bootcamp to get you to the point where you can start programming on your own. Zero to developer in three sessions of a week."
- meta_keywords "terms, conditions, development, bootcamp, programming, learn, teach, sponsor"

- cache 'terms-and-conditions-page' do
  .dbc-content
    .dbc-container.dbc-text
      .inner.text
        h2 Terms and Conditions

        p See also:
        ul
          li = link_to 'Dutch version', '#dutch'
          li = link_to 'Cancellation Policy', '/cancellation-policy'

        h2#english General Terms and Conditions (English)

        markdown:
          CODAISSEUR B.V.
          VERSION: 26 januari 2015

          ### ARTICLE 1 - DEFINITIONS

          - EDUCATION: course, training, distance learning as well as face to face education.
          - FACE TO FACE EDUCATION: Type of education using direct interaction between teacher/trainer and student/course participant.
          - EDUCATION SERVICE: Delivery of training and education, in - or excluding the supply of course material and in - or excluding exams or other forms of testing.
          - AGREEMENT:  An agreement as stipulated in article 2, subsection 1.
          - DISTANCE AGREEMENT: An agreement, concluded in such a way that only written correspondence or digital communication is used.
          - CONSUMER: Natural person who does not conduct a trade or business and who purchases an education service from CODAISSEUR B.V.
          - COMPANY: Legal entity who conducts a trade or business and who purchases an education service from CODAISSEUR B.V.

          ### ARTICLE 2 – APPLICABILITY

          These General Terms and Conditions apply to all agreements concluded between CODAISSEUR B.V. and the consumer or company, concerning an education service.

          ### ARTICLE 3 – OFFER

          1. CODAISSEUR B.V. makes the offer (preferably) in writing or electronically.
          2. The offer contains a full and detailed description of the education service and/or the course material as part of the education service. The offer also indicates whether or not the use of this course material is compulsory.
          3. Each offer must contain information in such a way that it is clear to the consumer or company which rights and obligations apply on acceptance of the offer. The offer must at least specify clearly and comprehensibly the following details:
            - the manner of delivery or implementation of the agreement;
            - the date of the start of the education service;
            - the conditions which apply in the case of cancellation of the education service;
            - if applicable: the admissions requirements for attending the (training) course;
            - the overall fee, including all additional costs and taxes;
            - the method of payment 
            - the duration of the agreement
          4. The consumer or company is notified explicitly prior to concluding the agreement of these general terms and conditions, which form part of the general provision of information by CODAISSEUR B.V..
          5. CODAISSEUR B.V. may add the condition to the submission of the offer and/or the acceptance of the assignment that the consumer or company submits personal details 
          6. Notwithstanding the provisions in subsections 1 to 5 the offer must contain the following additional details in case of an distance agreement:
            - a. the identity and address of CODAISSEUR B.V., including the address of the offices of CODAISSEUR B.V.;
            - b. the right of the consumer or company to terminate the agreement within fourteen working days according to article 7 subsection 2 and 3;
            - c. whether additional costs will be charged for contact with CODAISSEUR B.V.

          ### ARTICLE 4 – AGREEMENT

          1. The agreement comes into effect on acceptance of the eduction service offer by the consumer or company. After concluding the agreement, the consumer or company receives confirmation of this on paper or electronically
          2. In case of a digital acceptance CODAISSEUR B.V. sends an electronic confirmation to the consumer or company; for as long as the acceptance of the offerhas not been confirmed by CODAISSEUR B.V., the consumer or company may cancel the acceptance.
          3. After the conclusion of a distance agreement, the details referred to in article 3 subsections 3 and 6 will be communicated to the consumer or company on paperor via another durable medium available to and accessible by the consumer or company. 

          ### ARTICLE 5 - MODIFICATIONS

          If there is an agreement on face to face education with a fixed start date, the following modification scheme for consumer or companys and CODAISSEUR BV applies:
            - a. consumer or companys can up to twice amend the start date for a subsequent start date. Changing the start date after the fixed start date is not possible. Modification by the consumer or company is done by an email to this effect to [support@developmentbootcamp.nl](mailto:support@developmentbootcamp.nl).
            - b. CODAISSEUR B.V. can change the location of the  face to face education without resulting in deduction of the agreed fee, provided that the new location should be situated at a reasonable distance from the previous location. Another location within the same city is in any case not unreasonable. Modification by CODAISSEUR B.V. is done by an email to this effect to the email address specified by the consumer or company.

          ### ARTICLE 6 – CANCELLATION BY CONSUMER OR COMPANY

          In case of an agreement relating to face to face education with a fixed starting date, the following cancellation policy applies, after a possible reflection period as per Article 7:
            - a. cancellation before the start of the face to face education course must be done by an email to this effect to support@developmentbootcamp.nl;
            - b. if the agreement is cancelled up to two months prior to the start of the course the consumer or company pays 10% of the agreed fee, with a minimum of €50, -;
            - c. if the agreement is cancelled between two and one months prior to the start of the course the consumer or company pays 50% of the agreed fee, with a minimum of   €50, -;
            - d. if the agreement is cancelled less than one month prior to the start of the course the consumer or company pays 75% of the agreed fee, with a minimum of €50, -;
            - e. if the agreement is cancelled less than two weeks prior to the start of the course the consumer or company pays the full fee.


          ### ARTICLE 7 – TERMINATION OF THE AGREEMENT BY CONSUMER OR COMPANY

          1. The consumer or company may terminate a fixed - term agreement at any time. Premature termination of the agreement does not lead to restitution of the fee owed by the consumer or company nor to cancellation of his obligation to pay the fee, in accordance with the cancellation policy as per Article 6.
          2. The consumer or company is entitled to terminate the agreement without stating his reasons, during fourteen working days following the conclusion of a distance agreement concerning an education service. If CODAISSEUR B.V. has not provided all details of the conditions of the distance agreement as referred to in Article 3 subsection 6, the term of fourteen working days will apply to the period starting after the provision thereof up to a maximum of three months following the conclusion of the agreement.
          3. The consumer or company is entitled to full restitution of the amount already paid if the agreement is terminated according to subsections 2. CODAISSEUR B.V.  restitutes as soon as possible, and in any event within 30 days of the termination of agreement.
          4. If the agreement is terminated according to subsections 2 and 3, the consumer or company must return any course material which he has received from CODAISSEUR B.V. as soon as possible. CODAISSEUR B.V. is entitled to charge the consumer or company with thedelivery costs involved . The consumer or company bears the risk of the delivery.
          3. If the consumer or company exercises his right to terminate the agrreement according to subsections 2, any other additional loan agreement serving as payment arrangement between CODAISSEUR B.V. and the consumer or company, will be cancelled automatically, without any fine payable by the consumer or company.
          7. The consumer or company is not entitled to terminate the agreement according to subsection 2, if the education or training course has already commenced in agreement with the consumer or company, before the period of fourteen days has expired. The commencement of the education or training course may also be the moment of receipt of digital access to course material.

          ### ARTICLE 8 – TERMINATION OF THE AGREEMENT BY  CODAISSEUR  B.V.

          1. CODAISSEUR B.V. may terminate a fixed-term agreement at any time. Premature termination leads to a refund of the fee owed by the consumer or company or the cancellation of the obligation to pay it. Termination of the agreement may be done due to insufficient enrollments for the respective face to face education course.
          2. The consumer or company is in the event of termination pursuant to paragraph 1 entitled to restitution of the amount already paid. CODAISSEUR B.V. restitutes as soon as possible, and in any event within thirty day of the termination of the agreement.

          ### ARTICLE 9 – FEE CHANGES

          1. If a course fee is changed within three months of the conclusion of the agreement but prior to the commencement of the course or the delivery of course material, this will have no bearing on the agreed course fee.
          2. The consumer or company is entitled to terminate the agreement if the course fee is increased within three months of the conclusion of the agreement but prior to the commencement of the course or the delivery of course material.
          3. Subsections 1 and 2 are not applicable to any fee changes imposed by the law. 

          ### ARTICLE 10 – DELIVERY

          1. Course material
            - a. CODAISSEUR B.V. delivers all course material to the consumer or company on time.  Delivery on time is includes the delivery of digital access to materials.
            - b. Replacement of faulty or damaged course material will be sent by the  entrepreneur immediately.
          2. Marking
            - a. The consumer or company will be notified of the period within which the assignments or exams will be marked.
            - b. The moment of receipt of marked assignments or exams must be in proportion to the moment of continuation of the course or the moment of a possible re - sit examination. 

          ### ARTICLE 11 – COMPLIANCE

            1. The education service must comply with the agreement and must be implemented in a competent manner, using proper facilities.
            2. The course material must comply with the agreement and have those standard features, as are required for normal use and under all circumstances, as well as for particular use, in so far as agreed. 

          ### ARTICLE 12 – PAYMENT

          1. Payment is in cash, unless agreed otherwise. Payment in cash also includes a bank transfer to the bank account as indicated by CODAISSEUR B.V. at the moment of purchase or delivery or payment via by banks accepted methods of electronic payment..
          2. If payment in instalments has been agreed to, the consumer or company must pay according to the instalment periods and the percentages as agreed in the agreement.
          3. Payment of the education service takes place prior to the commencement of the education or training course. CODAISSEUR B.V. is entitled to demand full payment of the course fee within 8 weeks prior to the commencement  of the education service.

          ### ARTICLE 13 – OVERDUE PAYMENT

          1. The consumer or company is considered to be in default once the payment date has expired. CODAISSEUR B.V. sends a payment reminder after the payment date has expired and allows the consumer or company to pay within 10 working days on receipt of the reminder.
          2. If payment has not been made after the 10 working days following the reminder, CODAISSEUR B.V. is then entitled to charge interest and any extrajudicial collection costs. These collection cost shall not exceed: 15% of outstanding amounts to € 2500, -; 10% on the next € 2500, - and 5% on the next € 5000, - with a minimum of € 40, -. CODAISSEUR B.V. may adjust the amounts and percentages in favour of the consumer or company 
          3. During the handling of a complaint or dispute in accordance with the provisions in articles 15 and 16, CODAISSEUR B.V. will defer the charging of interest and collection costs. 

          ### ARTICLE 14 – NON - COMPLIANCE WITH THE AGREEMENT

          1. If one of the parties does not comply with a commitment of the agreement, the other party is entitled to defer his own commitment associated with it. In case of partial or inadequate non - compliance deferral is only allowed, in so far as it is justified by the failure to comply.
          2. CODAISSEUR B.V. has the right of retention if the consumer or company fails to meet the obligation which is due, unless this retention is not justified by the failure.
          3. If one of the parties does not comply with the agreement, the other party is entitled to terminate the agreement, unless the termination is not justified by the non - compliance due to its limited significance. 

          ### ARTICLE 15 – ACCOUNTABILITY OF THE CODAISSEUR B.V.

          1. In so far as CODAISSEUR B.V. fails accountably under the agreement and the consumer or company has suffered damage from this as a consequence, the accountability of CODAISSEUR B.V., in as far as the  damage is not the result of personal injury, death or property damage, limited to the compensation of direct damages not exceeding the value of the agreement.
          2. The accountability of CODAISSEUR B.V. for personal injury, death or property damage is not excluded or limited.
          3. The accountability referred to in subsections 1 and 2 also applies to persons employed by CODAISSEUR B.V., or persons who have been taken on to implement the agreement. 

          ### ARTICLE 16 – CONFIDENTIALITY

          Any information submitted by consumer or companys is treated with confidentiality by CODAISSEUR B.V., its staff, or other persons employed by it. CODAISSEUR B.V. will act in accordance with the applicable privacy laws. 

          ### ARTICLE 17 – QUESTIONS AND COMPLAINTS

          1. Administrative questions or questions about the content of the education service can be submitted via email to support@developmentbootcamp.nl. Questions will be replied to by CODAISSEUR B.V. within 10 working days, counting from the date on which he received the question. If the question requires a foreseeably longer time to answer, the consumer or company will receive a confirmation of receipt from CODAISSEUR B.V. and an indication of when a more detailed answer may be expected.
          2. Complaints about the implementation of the agreement can be submitted via email to support@developmentbootcamp.nl. Complants must be submitted to CODAISSEUR B.V. as soon as possible after the consumer or company has or could have noted the shortcomings. Complaints must be made as complete and clear as possible. A complaint submitted within two months is in any event considered timely. If a complaint is not submitted timely, the consumer or company may lose his or her rights in this matter.
          3. If a complaint cannot be solved in consultation with each other, it becomes a dispute that may be submitted to the appropriate court in Amsterdam, The Netherlands.

          ### ARTICLE 18 – APPLICABLE LAW

          The agreement is governed by Dutch law, unless under binding law the law of another country applies.

          ### ARTICLE 19 - INTERPRETATION

          In case of divergence between the Dutch and English version of the General Terms and Agreements the Dutch version prevails.

    .dbc-container.dbc-text
      .inner.text
        h2#dutch Algemene Voorwaarden Consumenten (Dutch)

        markdown:
          CODAISSEUR B.V.
          VERSIE: 26 januari 2015

          ### ARTIKEL 1 - DEFINITIES


            - a)    Onderwijs: Onderwijs, opleiding, cursus en/of training, waaronder contactonderwijs.
            - b)   Contactonderwijs: Vorm van onderwijs met directe interactie tussen docent of  trainer en student of cursist
            - c)    EVC: Eerder verworven competenties, opgedaan tijdens eerdere werkervaring of gevolgde opleidingen. EVC’s worden via assessments bepaald en kunnen leiden tot verkorte (versnelde) opleidingstrajecten.
            - d)   Educatieve dienst: Het geven van onderwijs en de levering van lesmateriaal en/of een EVC-traject en/of een andere vorm van beoordeling.
            - e)    Overeenkomst: Een overeenkomst, zoals bedoeld in artikel 2 lid 1.
            - f)     Overeenkomst op afstand: Een overeenkomst die tussen CODAISSEUR B.V. en de consument wordt gesloten in het kader van een georganiseerd systeem voor verkoop op afstand van producten, digitale inhoud en/of diensten, waarbij tot en met het sluiten van de overeenkomst uitsluitend gebruik wordt gemaakt van één of meer technieken voor communicatie op afstand.
            - g)    Consument: Natuurlijke persoon die niet handelt in de uitoefening van een beroep of bedrijf en die een educatieve dienst van CODAISSEUR B.V. afneemt.
           
          ### ARTIKEL 2 - TOEPASSELIJKHEID

          Deze Algemene Voorwaarden zijn van toepassing op alle overeenkomsten tussen CODAISSEUR B.V. en de consument met betrekking tot een educatieve dienst
           
          ### ARTIKEL 3 - AANBOD

            1.      CODAISSEUR B.V. brengt het aanbod (bij voorkeur) schriftelijk dan wel elektronisch uit.
            2.      Het aanbod bevat een volledige en nauwkeurige omschrijving van de educatieve dienst en/of van het lesmateriaal dat onderdeel uitmaakt van de educatieve dienst. Het aanbod geeft tevens aan of gebruik van dit lesmateriaal verplicht is.
            3.      Elk aanbod dient zodanige informatie te bevatten dat voor de consument duidelijk is wat de rechten en verplichtingen zijn die aan de aanvaarding van het aanbod zijn verbonden. Het aanbod vermeldt in ieder geval op duidelijke en begrijpelijke wijze de volgende gegevens:
              - de wijze van aflevering of uitvoering van de overeenkomst;
              - de periode waarin de educatieve dienst plaatsheeft;
              - de voorwaarden waaronder de educatieve dienst eventueel niet doorgaat;
              - voor zover van toepassing: de toelatingseisen om aan het onderwijs deel te mogen nemen;
              - de prijs met inbegrip van alle bijkomende kosten en belastingen;
              - de wijze van betaling;
              - de duur van de overeenkomst
            4.      Deze algemene voorwaarden worden voorafgaand aan de overeenkomst nadrukkelijk bekend gemaakt aan de consument en maken integraal deel uit van de algemene informatievoorziening van CODAISSEUR B.V.
            5.      CODAISSEUR B.V. mag aan het uitbrengen van een aanbod en/of de aanvaarding van een opdracht de voorwaarde verbinden dat de consument zijn persoonsgegevens verstrekt.
            6.      Onverminderd het bepaalde in lid 1 tot en met 5 omvat het aanbod bij een overeenkomst op afstand bovendien de volgende gegevens:
              - a.      de identiteit en het adres van CODAISSEUR B.V., inclusief het bezoekadres van de vestiging van CODAISSEUR B.V.;
              - b.      het recht van de consument de overeenkomst binnen veertien dagen te ontbinden overeenkomstig artikel 7 lid 2 en 3;
              - c.       de geldigheidsduur van het aanbod.
           
          ### ARTIKEL 4 - OVEREENKOMST

            1.      De overeenkomst komt tot stand door aanvaarding van het aanbod door de consument. Na de totstandkoming van de overeenkomst ontvangt de consument hiervan schriftelijk of langs elektronische weg een bevestiging.
            2.      In geval van elektronische opdrachtverlening stuurt CODAISSEUR B.V. een elektronische bevestiging naar de consument; zolang de ontvangst van een elektronisch aanvaarde opdracht niet is bevestigd door CODAISSEUR B.V. kan de consument de opdracht annuleren.
            3.      Nadat een overeenkomst op afstand tot stand is gekomen, worden de in artikel 3 lid 3 en lid 6 bedoelde gegevens schriftelijk of op een andere, aan de consument ter beschikking staande en voor hem toegankelijke duurzame gegevensdrager, verstrekt.
           
          ### ARTIKEL 5 - WIJZIGINGEN

          Indien er sprake is van een overeenkomst inzake contactonderwijs met een vastgelegde startdatum geldt de volgende wijzigingsregeling voor de consument en CODAISSEUR B.V.:
            - a. De consument kan tot maximaal twee keer de vastgestelde startdatum wijzigen naar een daaropvolgende startdatum. Wijziging van de startdatum na de vastgestelde startdatum is niet mogelijk. Wijziging door de consument geschiedt door middel van een daartoe strekkende email aan <support@developmentbootcamp.nl>.
            - b.      CODAISSEUR B.V. kan voor aanvang van het contactonderwijs de locatie wijzigen zonder dat hiervoor overeengekomen kosten in mindering hoeven te worden gebracht, met dien verstande dat de nieuwe locatie binnen redelijke afstand van de eerdere locatie gelegen dient te zijn.  Een gewijzigde locatie binnen dezelfde stad is in ieder geval niet onredelijk. Wijzigingen door CODAISSEUR B.V. voordat het contactonderwijs is begonnen geschied door middel van een daartoe strekkende email aan het door de consument opgegeven emailadres.
           
          ### ARTIKEL 6 - ANNULERING DOOR CONSUMENT

          Indien er sprake is van een overeenkomst inzake contactonderwijs met een vastgelegde startdatum geldt, na afloop van de eventuele bedenktijd overeenkomstig Artikel 7, de volgende annuleringsregeling voor de consument:

            - a.      annulering voordat het contactonderwijs is begonnen, geschiedt door middel van een daartoe strekkende email aan <support@developmentbootcamp.nl>;
            - b.      bij annulering tot twee maanden voor aanvang van het contactonderwijs is de consument 10% van de overeengekomen prijs verschuldigd met een minimum van € 50,-;
            - c.       bij annulering tussen twee maanden en één maand voor aanvang van het contactonderwijs is de consument 50% van de overeengekomen prijs verschuldigd met een minimum van € 50,-;
            - d.      bij annulering korter dan één maand voor aanvang van het contactonderwijs is de consument 75% van de overeengekomen prijs verschuldigd met een minimum van € 50,-;
            - e.      bij annulering minder dan twee weken voor aanvang van het contactonderwijs is de consument de volledige overeengekomen prijs verschuldigd.
           
          ### ARTIKEL 7 - BEËINDIGING VAN DE OVEREENKOMST DOOR CONSUMENT

            1.      De consument kan een voor bepaalde tijd gesloten overeenkomst te allen tijde opzeggen. Tussentijdse beëindiging leidt niet tot restitutie van de door de consument verschuldigde prijs of het vervallen van de betaalplicht daarvan, overeenkomstig de annuleringsregeling in Artikel 6.
            2.      Gedurende veertien dagen na het sluiten van een overeenkomst op afstand met betrekking tot een educatieve dienst heeft de consument het recht de overeenkomst zonder opgave van redenen te ontbinden. Indien CODAISSEUR B.V. niet alle gegevens heeft verstrekt, zoals bedoeld in artikel 3 lid 6, dan bedraagt deze termijn veertien dagen na het alsnog verstrekken ervan tot een maximum van twaalf maanden na het sluiten van de overeenkomst.
            3.      De consument heeft in geval van ontbinding overeenkomstig lid 2 recht op kosteloze terugbetaling van wat hij al heeft betaald. CODAISSEUR B.V. betaalt zo spoedig mogelijk en in ieder geval binnen dertig dagen na de ontbinding terug.
            4.      Indien de consument een beroep doet op de ontbindingsmogelijkheid uit lid 2 wordt, zonder dat de consument een boete is verschuldigd, een eventuele aanvullende overeenkomst van geldlening als betalingsregeling van CODAISSEUR B.V. aan de consument van rechtswege ontbonden.
            5.      Geen recht op ontbinding overeenkomstig lid 2 bestaat, als het onderwijs door CODAISSEUR B.V. met instemming van de consument is begonnen, voordat de termijn van veertien dagen is verstreken. Onder aanvang van het onderwijs wordt mede verstaan het verschaffen van toegang tot lesmateriaal dat op elektronische wijze wordt aangeboden.
           
          ### ARTIKEL 8 - BEËINDIGING VAN DE OVEREENKOMST DOOR CODAISSEUR B.V.

            1.     CODAISSEUR B.V. kan een voor bepaalde tijd gesloten overeenkomst te allen tijde opzeggen. Tussentijdse beëindiging leidt tot restitutie van de door de consument verschuldigde prijs of het vervallen van de betaalplicht daarvan. Beëindiging van de overeenkomst kan onder andere geschieden wegens onvoldoende inschrijvingen voor het betreffende contactonderwijs.
            2.     De consument heeft in geval van ontbinding overeenkomstig lid 1 recht op kosteloze terugbetaling van wat hij al heeft betaald. CODAISSEUR B.V. betaalt zo spoedig mogelijk en in ieder geval binnen dertig dagen na de ontbinding terug.
           
          ### ARTIKEL 9 - PRIJSWIJZIGINGEN

            1.      Als binnen drie maanden na het sluiten van de overeenkomst maar nog vóór aanvang van de educatieve dienst een prijswijziging optreedt, zal deze geen invloed hebben op de overeengekomen prijs.
            2.      De consument heeft recht op ontbinding van de overeenkomst als ná drie maanden na het sluiten van de overeenkomst, maar nog vóór aanvang van de educatieve dienst de prijs wordt verhoogd.
            3.      Lid 1 en 2 zijn niet van toepassing op prijswijzigingen die uit de wet voortvloeien.
           
          ### ARTIKEL 10 - LEVERING

            1.       Lesmateriaal
              - a.      CODAISSEUR B.V. levert het lesmateriaal tijdig aan de consument. Onder tijdige levering wordt mede verstaan het tijdig verschaffen van toegang tot lesmateriaal dat op elektronische wijze wordt aangeboden.
              - b.      Verkeerd of beschadigd lesmateriaal wordt onmiddellijk door CODAISSEUR B.V.  vervangen.
            2. Correctiewerk
              - a.       De consument wordt geïnformeerd over de termijn waarbinnen ingezonden  opdrachten of toetsen worden gecorrigeerd.
              - b.      Het tijdstip van het terugontvangen van correcties moet in redelijke verhouding staan tot het tijdstip van aanvang van het vervolg van het onderwijs respectievelijk van een eventuele herkansing.
           
          ### ARTIKEL 11 - CONFORMITEIT

            1.       De educatieve dienst moet beantwoorden aan de overeenkomst en op deskundige wijze en met gebruikmaking van deugdelijke faciliteiten worden uitgevoerd.
            2.      Het geleverde lesmateriaal moet beantwoorden aan de overeenkomst en die eigenschappen bezitten die, alle omstandigheden in aanmerking genomen, voor een normaal gebruik nodig zijn, alsmede voor een bijzonder gebruik voor zover dat is overeengekomen.
           
          ### ARTIKEL 12 - BETALING

            1.      Betaling vindt plaats in contanten, tenzij anders is overeengekomen. Contante betaling omvat ook bijschrijving van het verschuldigde bedrag op een door CODAISSEUR B.V. aangegeven bank- of girorekening op het tijdstip van de koop of levering of betaling door middel van door banken erkende vormen van elektronisch betalen.
            2.      Als betaling in termijnen is overeengekomen, moet de consument – met inachtneming van het bepaalde in lid 3 – betalen volgens de termijnen en de percentages, zoals deze in de overeenkomst zijn vastgesteld.
            3.      Betaling van de educatieve dienst vindt plaats vóór het moment dat de opleiding van start gaat. CODAISSEUR B.V. mag van de consument verlangen dat het volledige bedrag uiterlijk 8 weken vóór de dag van aanvang van de educatieve dienst is voldaan.
           
          ### ARTIKEL 13 - NIET-TIJDIGE BETALING

            1.      De consument is in verzuim vanaf het verstrijken van de betalingsdatum. CODAISSEUR B.V. zendt na het verstrijken van die datum een betalingsherinnering en geeft de consument de gelegenheid binnen 10 werkdagen, na ontvangst van deze betalingsherinnering alsnog te betalen.
            2.    Indien de consument niet tijdig aan zijn betalingsverplichting(en) voldoet, is deze, nadat hij door CODAISSEUR B.V. is gewezen op de te late betaling en CODAISSEUR B.V. de consument een termijn van 10 werkdagen heeft gegund om alsnog aan zijn betalingsverplichtingen te voldoen, na het verstrijken van deze 10-werkdagen- termijn over het nog verschuldigde bedrag de wettelijke rente verschuldigd en is CODAISSEUR B.V. gerechtigd de door hem gemaakte buitengerechtelijke incassokosten in rekening te brengen. Deze incassokosten bedragen maximaal: 15% over openstaande bedragen tot € 2.500,-; 10% over de daaropvolgende € 2.500,- en 5% over de volgende € 5.000,- met een minimum van € 40,-. CODAISSEUR B.V. kan ten voordele van de consument afwijken van genoemde bedragen en percentages.
           
          ### ARTIKEL 14 - NIET-NAKOMING VAN DE OVEREENKOMST

            1.      Als één van de partijen een verplichting uit de overeenkomst niet nakomt, mag de wederpartij de nakoming van de daartegenover staande verplichting opschorten. Bij gedeeltelijke of niet-behoorlijke nakoming is opschorting slechts toegestaan, voor zover de tekortkoming dat rechtvaardigt.
            2.      CODAISSEUR B.V. heeft het recht van terughouding (recht van retentie) als de consument tekortschiet in de voldoening van een opeisbare verplichting, tenzij de tekortkoming deze terughouding niet rechtvaardigt.
            3.      Als één van de partijen de overeenkomst niet nakomt, is de wederpartij bevoegd de overeenkomst te ontbinden, tenzij de tekortkoming gezien haar geringe betekenis de ontbinding niet rechtvaardigt.
           
          ### ARTIKEL 15 - AANSPRAKELIJKHEID VAN CODAISSEUR B.V.

            1.       Voor zover CODAISSEUR B.V. toerekenbaar tekortschiet onder de overeenkomst en de consument daardoor schade lijdt, is de aansprakelijkheid van CODAISSEUR B.V. voor schade die niet het gevolg is van letsel-, dood- of zaakschade, beperkt tot vergoeding van directe schade tot maximaal de waarde van de overeenkomst.
            2.      De aansprakelijkheid van CODAISSEUR B.V. voor letsel-, dood- of zaakschade wordt niet uitgesloten of beperkt.
            3.      De in lid 1 en 2 bedoelde aansprakelijkheid strekt zich uit tot personen in dienst van CODAISSEUR B.V., dan wel aan personen die door hem zijn aangesteld voor de uitvoering van de overeenkomst.
           
          ### ARTIKEL 16 - VERTROUWELIJKHEID

          Door consumenten verstrekte informatie wordt door CODAISSEUR B.V., diens personeel en/of voor hem werkzame personen vertrouwelijk behandeld. CODAISSEUR B.V. conformeert zich aan de geldende privacywetgeving.
           
          ### ARTIKEL 17 - VRAGEN EN KLACHTEN

            1.      Vragen van administratieve aard en vragen over de inhoud van de educatieve dienst kunnen gesteld worden via een email aan <support@developmentbootcamp.nl>. Vragen worden door CODAISSEUR B.V. beantwoord binnen een termijn van 10 werkdagen, gerekend vanaf de datum van ontvangst. Vragen die een voorzienbaar langere verwerkingstijd vragen, worden door CODAISSEUR B.V. per omgaande beantwoord met een bericht van ontvangst en een indicatie wanneer men een meer uitvoerig antwoord kan verwachten.
            2.      Klachten over de uitvoering van de overeenkomst kunnen gedaan worden via een email aan <support@developmentbootcamp.nl>. Klachten moeten tijdig, volledig en duidelijk omschreven worden ingediend bij CODAISSEUR B.V., nadat de consument de gebreken heeft geconstateerd of heeft kunnen constateren. Klagen binnen twee maanden is in elk geval tijdig. Niet tijdig indienen van de klacht kan tot gevolg hebben dat de consument zijn of haar rechten terzake verliest.
            3.    Indien de klacht niet in onderling overleg kan worden opgelost ontstaat een geschil dat kan worden voorgelegd aan de bevoegde rechter te Amsterdam.
           
          ### ARTIKEL 18 - TOEPASSELIJK RECHT

          De overeenkomst wordt beheerst door Nederlands recht, tenzij op grond van dwingend recht het recht van een ander land van toepassing is.

          ### ARTIKEL 19 - Interpretatie

          In geval van verschillen tussen de nederlandse en de engelse tekst van de algemene voorwaarden geldt de nederlandse tekst.
