- title "Tickets and Pricing"
- meta_description "Buy tickets for Development Bootcamp. Zero to developer in three sessions of a week."
- meta_keywords "tickets, pricing, development, bootcamp, programming, learn, teach, sponsor"

= render 'coming_soon'
