body
  padding-top: $dbc-navbar-height
  background-color: $gray-lighter

.dbc-page
  @extend .container-fluid
  .dbc-main
    @extend .row

.dbc-container,
.footer
  @extend .container-fluid
  .inner
    @extend .row
    @extend .col-md-10
    @extend .col-md-offset-1

@media (max-width: $screen-sm-min)
  .dbc-page .dbc-main .dbc-content
    border-right: 0
