- cache 'about-the-programs' do
  .dbc-container.dbc-text
    .inner.text
      h2 About The Programs

      markdown:
        We have three programs that will get you to the point where you will
        be able to switch your career to programming if you'd want to.

        Every program ends with a contest. Winners of the contest will get help
        from us and our sponsors to give you everything you need to start
        growing your own career in development.

        [Level One](#level-one) will teach you the basics of programming, and
        how tho _think_ like programmer. By the end of the week, you will be
        able to start writing small programs to make your lives easier.

        In [Level Two](#level-two) we will start with the basics of building
        a web application. Your code will come alive on the internet, where
        the world will be able to see what you built. An exciting week, after
        which you will have built a couple of applications, and released them
        to the public internet.

        Finally, [Level Three](#level-three) is where we will start preparing
        you for the professional programming world out there. You will add
        more complicated technology to your applications, and you will learn
        about the latest hi-tech developments and how to use them.
