body
  font: 1.1rem/1.5 "Courier New"
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  font-weight: 400

ul, ol, p, blockquote
  margin-bottom: 2rem

ul
  list-style: square

%h-large,
  font-family: Helvetica, "Sans-Serif"
  font-size: 3rem
  line-height: 1.2
  font-weight: bold
  margin-bottom: 2rem

%h-normal
  font-family: Helvetica, "Sans-Serif"
  font-weight: bold
  font-size: 2.5rem
  margin-bottom: 1rem

%h-small
  font-size: 1.2rem
  margin-bottom: .5rem
  font-weight: bold

%t-small
  font-size: 1.1rem
  line-height: 1.5

%t-normal
  font-size: 1.3rem
  line-height: 1.7

%t-large
  font-size: 1.2rem
  line-height: 2.2rem
