// Colors
$dark: #222
$light: #e7e8f1
$yellow: #ffc600
$purple: #603e96

// borders
$border: 1px solid rgba(#000, .1)
$border-light: rgba(#fff, .2)

// Sizes
$padding: 2rem
$br: 5px

// Screen
$small: 400px
$medium: 800px
$large: 1200px
