tr.scholarship-row--new
  @extend .info

tr.scholarship-row--planning-interview,
tr.scholarship-row--unsure,
tr.scholarship-row--interview-planned,
tr.scholarship-row--send-assignment,
tr.scholarship-row--to-be-rejected
  @extend .warning

tr.scholarship-row--send-contract,
tr.scholarship-row--contract-sent,
tr.scholarship-row--signed,
  @extend .success

tr.scholarship-row--declined,
tr.scholarship-row--rejected
  @extend .danger

tr.scholarship-row--cancelled
  color: $gray-light
  text-decoration: line-through

tr.scholarship-row--unsure,
tr.scholarship-row--doing-assignment,
tr.scholarship-row--send-assignment,
tr.scholarship-row--to-be-rejected
  font-style: italic

tr.scholarship-row--send-contract,
tr.scholarship-row--send-assignment,
tr.scholarship-row--to-be-rejected
  font-weight: bold

  td:first-child *::before
    content: '* '
