.footer
  background: $dark
  color: #fff
  border-top: 1px solid $light

  a:link,
  a:visited
    color: #fff
    text-decoration: none

  .inner
    padding: 20px
    +min-width(700px)
      padding: 30px
    +min-width(1000px)
      padding: 40px

  .section
    +min-width(800px)
      display: inline-block
      padding: 1rem 2rem 1rem 0
      vertical-align: top
      width: 30%

      &.vcard
        width: 40%

    ul
      list-style: none
