.mod-header
  padding: 40px 20px

  img
    max-width: 100%

  ul
    list-style: none

  li
    text-align: center
    display: block
    margin: 20px 0

  a
    text-decoration: none
    font-weight: bold
    color: $dark
    text-transform: uppercase
    margin-bottom: 20px