.mod-program
  background: #fff
  border-bottom: $border

  &.intro
    @extend .mod-intro
    background: $dark

  h1
    @extend %h-large

  h2
    @extend %h-normal

  .block
    +min-width(700px)
      display: inline-block
      width: 49%
      vertical-align: top

  ul
    list-style: none
