.mod-program
  background: #fff
  border-bottom: $border

  &.intro
    @extend .mod-intro
    background: $dark

  h1
    @extend %h-large

  h2
    @extend %h-normal

  .blocks
    display: block
    clear: both

    +min-width(700px)
      height: 32rem

    .block
      padding: 2em

      +min-width(700px)
        display: inline-block
        width: 49%
        vertical-align: top
        height: 100%

        &::last-child
          clear: right

      &.beginner
        background: $green
      &.intermediate
        background: $yellow

        .button
          background: $dark
          color: $yellow

      &.advanced
        background: $purple

        .button
          margin-top: 0.4rem

      &.expert
        background: $light

  ul
    list-style: none
