.mod-text
  background: #fff
  border-bottom: $border

  h1
    @extend %h-large

  h2
    @extend %h-normal

  .button.secondary
    border: 1px solid rgba($dark,.2)
    background: none
    color: $dark

  .post-meta
    padding-bottom: 4em
    border-bottom: 1px solid #999
    margin-bottom: 2em

    .author
      font-weight: bold

    .gravatar
      float: left
      padding-right: 2em
