.mod-workshop
  border-left: 4em solid

  &.beginner
    border-color: #096

  h1
    @extend %h-large

  h2
    @extend %h-normal

  h3
    font-family: Helvetica, "Sans-Serif"
    @extend %h-small

