.alert
  padding: 2em

  &.alert-success
    background-color: #096
    color: #fff

  &.alert-danger
    background-color: #922
    color: #fff

  &.alert-info
    background-color: #27c
    color: #fff

  button.close
    background: none
    border: none
    color: #fff
