.circle
  font-family: $font-family-monospace
  margin: auto
  padding: 50px
  width: 10px
  height: 10px
  text-align: center
  border: 1px solid #fff
  border-radius: 100px
  background-color: $brand-primary
  color: $gray-lighter
  margin-bottom: 1em
  font-size: 50px
  line-height: 4px
  text-indent: -15px

  &.small-circle
    font-size: 15px
    padding: 8px
    text-indent: -4px
    line-height: 0px

  &.beginner
    background-color: $brand-success
  &.intermediate
    background-color: $brand-warning
  &.advanced
    background-color: $brand-danger
  &.frontend
    background-color: $purple

  .fa-fw
    margin-top: -1em
    margin-left: -0.1em
