.input
  input
    width: 70%
    min-width: 258px
    padding: .5rem 1rem
    display: block
    margin: 0 20px 20px 0
    border: 1px solid $light

  label
    font-family: Helvetica, "Sans-Serif"
    padding: .5rem 1rem
    display: block
    margin: 0 20px 10px 0

  textarea
    resize: none
    width: 70%
    min-width: 258px
    height: 120px
    border: 1px solid $light
