.dbc-continue
  color: $yellow
  text-align: center
  font-size: 48px

.money-breakdown
  font-size: 18px

  .category,
  .percentage
    @extend .col-lg-2
    text-align: center

  .category .fa
    color: $purple

ul#countdown
  font-family: 'Orbitron', Courier, serif
  display: block
  padding: 0

  > li
    display: inline-block

    span
      line-height: 80px
      font-size: 36px

mark
  background: inherit
  color: $yellow

  &.alt-color
    color: $green

.caps
  @extend .text-uppercase
