@import url(http://fonts.googleapis.com/css?family=Orbitron:500)

.dbc-continue
  color: $yellow
  text-align: center
  font-size: 48px

ul#countdown
  font-family: 'Orbitron', Courier, serif
  display: block
  padding: 0

  > li
    display: inline-block

    span
      line-height: 80px
      font-size: 36px

    .seperator

    p
      color: #a7abb1
      float: right
