.navbar
  background-color: $yellow
  border-color: $purple
  height: 84px
  a.navbar-brand
    img
      width: 120px

  ul.navbar-nav
    margin: 32px

  .dropdown-menu
    background: $purple
    color: $yellow


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus
  background: $purple
  color: $yellow

.dropdown-menu > li:hover > a,
.dropdown-menu > li:hover > a:hover,
.dropdown-menu > li:hover > a:focus
  background: $yellow
  color: $purple

.dropdown-menu > li > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
  background: $purple
  color: $yellow

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus
  background: $purple
  color: $yellow
