body
  padding-top: $dbc-navbar-height
  background-color: $green

.navbar
  @extend .text-uppercase
  height: $dbc-navbar-height
  background-color: #000
  font-weight: bold
  font-size: 18px
  transition: all 0.4s ease
  //shadow
  -webkit-box-shadow: 10px 10px 99px -17px rgba(0,0,0,0.75)
  -moz-box-shadow: 10px 10px 99px -17px rgba(0,0,0,0.75)
  box-shadow: 10px 10px 99px -17px rgba(0,0,0,0.75)

  &.shrink
    background-color: rgba(0,0,0,0.6)
    height: $dbc-navbar-height/1.6

    .navbar-brand
      margin-top: $dbc-navbar-height/8

    ul.navbar-nav
      margin-top: $dbc-navbar-height/8

    .navbar-default .navbar-toggle
      margin-top: $dbc-navbar-height/8

  .navbar-brand
    margin-top: $dbc-navbar-height/3
    color: $yellow
    &:hover
      color: $yellow

  ul.navbar-nav
    margin-top: $dbc-navbar-height/3

.navbar-default
  border: none

  .inner
    @extend .col-lg-8
    @extend .col-md-10
    @extend .col-lg-offset-2
    @extend .col-md-offset-1

  .navbar-brand
    font-weight: 250

.navbar-default .navbar-nav
  @extend .pull-right
  &> li > a
    color: $green
    font-weight: 200

  &> .active > a
    color: $gray-lighter
    background: none
    &:hover
      background: darken($yellow, 10%)
      color: $gray-darker

.navbar-default .navbar-toggle
  margin-top: 2.5em
  background-color: #000
  border-color: $yellow
  .icon-bar
    background-color: $yellow
  &:focus
    background-color: $yellow
    .icon-bar
      background-color: $gray-darker
  &:hover
    background-color: $yellow
    .icon-bar
      background-color: $gray-darker

@media (max-width: $screen-sm-max)
  .navbar
    font-size: 0.9em

@media (max-width: $screen-xs-max)
  .navbar
    height: auto
    min-height: $dbc-navbar-height

    &.shrink
      min-height: $dbc-navbar-height/1.6
      .navbar-toggle
        margin-top: $dbc-navbar-height/6

      ul.navbar-nav
        margin-left: 0
        margin-top: $dbc-navbar-height/8
        margin-bottom: 0

  .navbar-collapse
    border: 0
    box-shadow: none
    z-index: 100
    background: $gray-darker
    padding: 0

    ul.navbar-nav
      margin-left: 0
      margin-top: 25px
      margin-bottom: 0
