.navbar
  background-color: $yellow
  border-color: $purple
  height: 84px
  a.navbar-brand
    img
      width: 120px

  ul.navbar-nav
    margin: 32px


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus
  background: $purple
  color: $yellow
