.dbc-page-header
  background-repeat: no-repeat
  background-position: top center
  background-color: transparent
  background-size: cover
  top: 0
  left: 0
  right: 0
  position: relative
  margin: 0
  padding-top: 80px
  padding-bottom: 80px
  font-size: $dbc-page-header-font-size
  min-height: $dbc-page-header-height
  color: #fff

  .inner
    @extend .col-md-8
    @extend .col-md-offset-2

    h1
      font-size: 6.5rem
      font-weight: 900
      bottom: 0

    p
      margin-top: 1em
      bottom: 0
      font-weight: lighter
      padding-bottom: 1em

      i.fa
        color: $yellow

      .button
        @extend .btn-lg

        &.primary
          color: $gray-darker

        &.default
          color: $gray-lighter
          border-color: $gray-lighter

          &:hover,
          &:active
            background: #000

    ul, h4
      top: $dbc-page-header-title-offset + $dbc-page-header-font-size
      padding-bottom: 1em

    a:link,
    a:visited,
    a:hover
      color: $yellow

  &.home
    background-image: image_url("headers/taste-of-code-camp-home.png")
    background-size: auto 78%
    background-position: 75% bottom
    background-color: $green
    padding-bottom: 0

    .text
      @extend .col-lg-8
      @extend .col-md-8
      padding-left: 0

      mark
        padding: 0

        &.alt-color
          color: $gray-darker

  &.tickets
    background-image: image_url('program/program-cover.jpg')

  &.program
    background-image: image_url('backgrounds/cover-red.png')

  &.sponsors
    background-image: image_url('backgrounds/cover-red.png')

  &.speakers
    background-image: image_url('backgrounds/cover-red.png')

@media (max-width: $screen-sm-max)
  .dbc-page-header.home
    background-color: $gray-darker
    background-image: image_url("headers/taste-of-code-camp-home-xs.png")

    .text mark.alt-color
      color: $green

    .button.default
      background-color: $gray-lighter
      color: $gray !important
      &:hover
        color: $gray-lighter !important
        background-color: $gray

    h1
      font-size: 1.2em
