.dbc-post
  padding-top: 2em !important
  padding-bottom: 2em !important
  .inner
    margin-top: 1em
    margin-bottom: 1em
  .post-meta
    @extend .inner
    .avatar
      @extend .col-xs-2
      img
        @extend .img-responsive
        @extend .img-circle
    .author
      padding-top: 1em
      @extend .col-xs-8
