.footer
  .sponsors
    @extend .row
    text-align: center

    .sponsor
      display: inline-block
      margin-right: 2em
      height: 45px

      img
        @extend .img-responsive
        max-height: 45px
        margin: 0px auto
