.dbc-testimonials
  .testimonial
    @extend .col-sm-4

    blockquote
      border: none
      text-align: center

      footer
        margin-top: 0.6em
        color: $gray-darker

        &:before
          display: none

    .avatar
      img
        @extend .img-responsive
        @extend .img-circle
        max-width: 150px
        margin: 0px auto
