h2
  font-weight: 900 !important
  font-size: 1.5em !important



.dbc-text
  padding-top: 8em
  padding-bottom: 8em
  color: $gray-darker
  //shadow
  -webkit-box-shadow: 10px 10px 99px -17px rgba(0,0,0,0.75)
  -moz-box-shadow: 10px 10px 99px -17px rgba(0,0,0,0.75)
  box-shadow: 10px 10px 99px -17px rgba(0,0,0,0.75)



  &.ticket-info
    padding-top: 0

  .green
    color: $green

  .centered
    text-align: center

  .centered,
  .normal,
  .text
    h2
      font-size: 2em
      padding-bottom: 0.2em
      margin-bottom: 0.3em

  .centered,
  .normal,
  .caps
    font-size: 32px

    p
      font-weight: lighter
      margin-bottom: 1em
      letter-spacing: 2px

      .button
        @extend .btn-lg
        border-radius: 0

        &.default
          &:hover,
          &:active
            background: $gray-light

  .caps
    font-weight: 900
    font-size: 3em
    line-height: 1em

  .text
    font-size: $font-size-large
    h4
      color: $gray-darker

  .block-with-image
    .image
      @extend .col-lg-6
      padding-top: 4em
      img
        @extend .img-responsive
        @extend .img-circle
        -webkit-box-shadow: -1px 1px 30px 0px rgba(50, 50, 50, 0.21)
        -moz-box-shadow: -1px 1px 30px 0px rgba(50, 50, 50, 0.21)
        box-shadow: -1px 1px 30px 0px rgba(50, 50, 50, 0.21)

    .content
      @extend .col-lg-6
      font-size: 22px

      h2
        font-size: 1em
        margin-bottom: 0.8em
        color: $yellow

      .button
        @extend .btn-lg

      p
        margin-bottom: 1em

      .button
        @extend .btn-lg
        border-radius: 0

.dbc-text-cta,
.dbc-text-sponsors
  @extend .dbc-text

  h1
    font-size: 2em

  .programs
    @extend .row

    .beginner, .intermediate, .advanced
      @extend .col-md-4
      min-height: 565px

      p
        font-size: 16px
        min-height: 5em

        &.description
          min-height: 264px

      h3
        font-size: 1em

    .beginner
      background-color: $green
    .intermediate
      background-color: $dark-green
    .advanced
      background-color: $red

  p.subnote,
  ul
    font-family: $font-family-base

  .sponsor-plan
    @extend .col-md-6
    @extend .col-md-offset-3

    &.platinum
      h2,h3
        color: $purple

    &.gold
      h2,h3
        color: $yellow

    &.silver,
    &.exclusive
      h2,h3
        color: $gray

    &.exclusive
      h2
        color: $dark-green

.dbc-text-cta
  background-color: $gray-darker
  background-image: image_url('backgrounds/text-cta.png')
  background-position: center center
  color: $gray-lighter

  .button.default
    border-color: $gray-lighter
    color: $gray-darker

    &:hover,
    &:active
      background: $gray-light

  &.alt-color
    background: $dark-green

    &.light-color
      background: $green

@media (max-width: $screen-xs-max)
  .dbc-text-cta
    &.alt-color-xs
      background: $dark-green
    &.alt-light-color-xs
      background: $green

@media (max-width: $screen-sm-max)
  .dbc-text-cta
    &.alt-color-sm
      background: $dark-green
    &.alt-light-color-sm
      background: $green

    .programs
      .beginner
        background: $gray-darker
      .beginner, .intermediate, .advanced
        padding: 2.6em 2em
        min-height: 0

        h3
          font-size: 24px

        p, p.description
          min-height: 0

.l-content > .dbc-text-cta
  margin-left: -15px
  margin-right: -15px

@media (max-width: $screen-md-max)
  .dbc-text
    padding-top: 4em
    paddin-bottom: 4em

    .block-with-image .image
      display: none

@media (max-width: $screen-sm-max)
  .dbc-text
    padding-top: 2em
    paddin-bottom: 2em

    .normal,
    .centered
      font-size: 18px

  .inner.caps
    font-size: 2.3em

