.dbc-three-col
  margin-top: 6em
  margin-bottom: 4em

  h2
    text-align: center
    margin-bottom: 0.8em

  .col
    @extend .col-md-4
    text-align: center

    .circle
      margin: auto
      padding: 50px
      width: 10px
      height: 10px
      text-align: center
      border: 1px solid #fff
      border-radius: 100px
      background-color: $brand-primary
      color: $gray-lighter
      margin-bottom: 1em
      font-size: 50px
      line-height: 3px
      text-indent: -12px

      &.beginner
        background-color: $brand-success
      &.intermediate
        background-color: $brand-warning
      &.advanced
        background-color: $brand-danger
