= f.form_group do
  = f.check_box :terms_and_conditions, label: ('I have read and agree to the %{terms}, and the %{conditions}' % { terms: link_to('Terms and Conditions', '/terms-and-conditions', target: '_blank'), conditions: link_to('Cancellation Policy', '/cancellation-policy', target: '_blank') }).html_safe, hint: 'You must accept these terms before you can proceed.'
