= f.form_group do
  = f.check_box :terms_and_conditions, label: t(:label_accept_terms, terms: link_to('Terms and Conditions', '/terms-and-conditions', target: '_blank'), conditions: link_to('Cancellation Policy', '/cancellation-policy', target: '_blank')).html_safe
