h2
  => fa_icon 'globe fw'
  = t(:billing_details)

= f.alert_message t(:please_fix_errors_below)
= f.text_field :billing_name
= f.text_field :billing_company_name, required: false, help: t(:form_optional)
= f.text_field :billing_email
= f.text_field :billing_address
= f.text_field :billing_postal
= f.text_field :billing_city
= f.country_select :billing_country, priority_countries: ['NL', 'DE', 'BE', 'GB']
= f.text_field :billing_phone
= render 'orders/form/accept_terms', f: f
